{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	 <title>{%block title%}{%endblock%}</title>

	 <!-- add icon link -->
	 <link rel = "icon" href =  "{% static 'anudeep.jpg' %}" type = "image/x-icon"> 


	<!-- Custom fonts for this template-->
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.min.css' %}">
	<!-- Custom styles for this template-->

	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js">
	</script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Custom styles for this template-->

	<style>
		h1 { color: 	#1E90FF; }
		div.a { color: 	#1E90FF; }
	
		
	  </style>

	 </head>

<body id="page-top">

	

	<!-- Page Wrapper -->
	<div id="wrapper">

		

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
				<div class="sidebar-brand-icon rotate-n-15">
					
				</div>
				<div class="sidebar-brand-text mx-3">Menu</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" href="/index">
					<i class="fas fa-fw fa-tachometer-alt" style="font-size:15px;color:white"></i>
					<span>Life.Transformed</span></a>
			</li>

			

			

			<!-- Nav Item - Sports Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo">
					<i class="fas fa-futbol" style="font-size:15px;color:white"></i>
					<span>Life.Tranformed</span>
				</a>
				
			</li>

			<!-- Nav Item - Schedule Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSchedule"
					aria-expanded="true" aria-controls="collapseSchedule">
					<i class="fa fa-calendar" style="font-size:15px;color:white"></i>
					<span></span>
				</a>
				
				</div>
			</li>

			<!-- Nav Item - Registration Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRegistration"
					aria-expanded="true" aria-controls="collapseRegistration">
					<i class="fa fa-registered" style="font-size:15px;color:white"></i>
					<span></span>
					
				</a>
				<div id="collapseRegistration" class="collapse" aria-labelledby="headingRegistration"
					data-parent="#accordionSidebar">
					
				</div>
			</li>

		
			<hr class="sidebar-divider">






			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->

	
						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						



						<!-- End of Topbar -->

						<!-- Begin Page Content -->
						<div class="container-fluid mt-0">

							<!-- Content Row -->
							<div class="row">
							 <div class="col-xl-10 col-lg-12 col-md-9 mt-4">
						

								<!-- /.container-fluid -->
								</div>
							</div>
							
													
							<!-- End of Main Content -->

							<!-- End of Footer -->

						</div>
						{% block main%}
							{% endblock%}
						<!-- End of Content Wrapper -->
							

			</div>

			
			
			<!-- End of Page Wrapper -->
	

			<!-- Bootstrap core JavaScript-->
			<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
			<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

			<!-- Core plugin JavaScript-->
			<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

			<!-- Custom scripts for all pages-->
			<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

			<!-- Page level plugins -->
			<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

			<!-- Page level custom scripts -->
			<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
			<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>