{%extends 'base.html'%}
{% load static %}
{%block title%}
CBIT Shruti Admin
{%endblock%}



{%block main%}

	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">

		<!-- Main Content -->
		<div id="content p-0">

			<!-- Topbar -->
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow pb-2">

				<div class="navbar-header">
					<h1 class=" px-2  text-primary">SHRUTI ADMIN PANEL</h1>
				</div>

				<!-- Sidebar Toggle (Topbar) -->
				
							 
			
			   </nav>
			   
			 

				<!-- Topbar Navbar -->
				
					
</div>

<div class="w3-content w3-section" style="max-width:1000px">
	<div class="pricing" id="pricingdiv">
        <div class="container headings text-center">
          <h1 class="font-weight-bold text-white">OUR BEST PRICING</h1>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. A nostrum reiciendis dolorem, .</P>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="card text-center">
                <div class="card-header">BASIC</div>
                <div class="card-body">
                  <ul>
                    <li>$ <span class="money">20</span>/website</li>
                    <li>Responsive websites</li>
                    <li>Domain name free</li>
                    <li>Mobile Friendly</li>
                    <li>Webmail Support</li>
                    Customer Support 24/7

                  </ul>
                </div>
                <div class="card-footer">
                  <a href="#">Purchase</a>
                </div>
              </div>
              
            </div>

            <div class="col-md-4 col-12 card-second">
              <div class="card text-center">
                <div class="card-header">STANDARD</div>
                <div class="card-body">
                  <ul>
                    <li>$ <span class="money">40</span>/website</li>
                    <li>Responsive websites</li>
                    <li>Domain name free</li>
                    <li>Mobile Friendly</li>
                    <li>Webmail Support</li>
                    Customer Support 24/7

                  </ul>
                </div>
                <div class="card-footer">
                  <a href="#">Purchase</a>
                </div>
              </div>
              
            </div>

            <div class="col-md-4 col-12">
              <div class="card text-center">
                <div class="card-header">UNLIMITED</div>
                <div class="card-body">
                  <ul>
                    <li>$ <span class="money">20</span>/website</li>
                    <li>Responsive websites</li>
                    <li>Domain name free</li>
                    <li>Mobile Friendly</li>
                    <li>Webmail Support</li>
                    Customer Support 24/7

                  </ul>
                </div>
                <div class="card-footer">
                  <a href="#">Purchase</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
				
				</div>
				
				

				
			  
			  
{%endblock%}